---
layout: default
languages:
- en
- fr
subset: contact
permalink: /:language/:t.slug/
---

{% capture line %}{% t 'line' %}{% endcapture %}
{% include line.html line=line bg-color="bg-gold" %}

<div class="ph4 ph5-m ph6-l">
  {% capture title %}{% t 'title' %}{% endcapture %}
  {% capture subtitle %}{% t 'subtitle' %}{% endcapture %}
  {% include components/header.html
      title=title
      subtitle=subtitle
  %}
</div>

<section class="tc mb4 mb5-m mb6-l">
  <a href="mailto:hi@laruche.io" class="dib f1-ns f2 no-underline gold ba bg-animate hover-bg-gold hover-white pa3">hi@laruche.io</a>
</section>
