<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>laruche</title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav>
      <ul class="o-list">
        <li><a href="/">laruche</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/process/">Process</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
