<!DOCTYPE html>
<html>
  <head lang="{{ page.language }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>laruche</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91148813-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body class="sans-serif">
    <nav class="db dt-l w-100 border-box">
      <a class="db dtc-l w3-l hover-white hover-bg-light-red bg-animate link black f4 tl ph3 pv3 pv0-l" href="/{{page.language}}/" title="laruche">laruche</a>
      <input id="toggle" type="checkbox" autocomplete="off">
      <label class="toggle-container top-0 right-0 fixed ma1 pa2 z-1 tc pointer dn-l" for="toggle">
        <div class="bar1 w2 bg-red"></div>
        <div class="bar2 w2 bg-green"></div>
        <div class="bar3 w2 bg-blue"></div>
        <p class="ma0 f6">menu</p>
      </label>
      <div class="drawer-left fixed static-l top-0 w-100 h-100 bg-white overflow-auto tr-l flex-l justify-end">
        <a class="hover-bg-light-red bg-animate link black f5 pa3 ph2-m db {% if page.subset == 'home' %}bg-light-red{% endif %}" href="/{{page.language}}/" title="{% t 'home.title' %}">{% t 'home.title' %}</a>
        <a class="hover-bg-light-purple bg-animate link black f5 pa3 ph2-m db {% if page.subset == 'services' %}bg-light-purple{% endif %}" href="/{{page.language}}/{% t 'services.slug' %}/" title="{% t 'services.title' %}">{% t 'services.title' %}</a>
        <a class="hover-bg-green bg-animate link black f5 pa3 ph2-m db {% if page.subset == 'process' %}bg-green{% endif %}" href="/{{page.language}}/{% t 'process.slug' %}/" title="{% t 'process.title' %}">{% t 'process.title' %}</a>
        <a class="hover-bg-blue bg-animate link black f5 pa3 ph2-m db {% if page.subset == 'about' %}bg-blue{% endif %}" href="/{{page.language}}/{% t 'about.slug' %}/" title="{% t 'about.title' %}">{% t 'about.title' %}</a>
        <a class="hover-bg-gold bg-animate link black f5 pa3 ph2-m db {% if page.subset == 'contact' %}bg-gold{% endif %}" href="/{{page.language}}/{% t 'contact.slug' %}/" title="{% t 'contact.title' %}">{% t 'contact.title' %}</a>
        {% if page.subset != 'home' %}
          {% if page.language == 'en' %}
            <a class="hover-bg-pink bg-animate link black f5 pa3 ph2-m db" href="/fr/{{ site.data.lang.fr.[page.subset].slug }}/" title="{% tl 'fr' %}">{% tl 'fr' %}</a>
          {% else %}
            <a class="hover-bg-pink bg-animate link black f5 pa3 ph2-m db" href="/en/{{ site.data.lang.en.[page.subset].slug }}/" title="{% tl 'en' %}">{% tl 'en' %}</a>
          {% endif %}
        {% else %}
          {% if page.language == 'en' %}
            <a class="hover-bg-pink bg-animate link black f5 pa3 ph2-m db" href="/fr/" title="{% tl 'fr' %}">{% tl 'fr' %}</a>
          {% else %}
            <a class="hover-bg-pink bg-animate link black f5 pa3 ph2-m db" href="/en/" title="{% tl 'en' %}">{% tl 'en' %}</a>
          {% endif %}
        {% endif %}
      </div>
    </nav>
