<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>laruche</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  </head>
  <body class="sans-serif">
    <nav class="db dt-l w-100 border-box pa3">
      <a class="db dtc-l v-mid black hover-red link tc tl-l mb3 mb0-l" href="/" title="Home">laruche</a>
      <div class="db dtc-l v-mid tc tr-l">
        <a class="link black hover-red f5 f5-l dib mr3 mr4-l mb2 mb0-l" href="/" title="Home">Home</a>
        <a class="link black hover-red f5 f5-l dib mr3 mr4-l mb2 mb0-l" href="/services/" title="Services">Services</a>
        <a class="link black hover-red f5 f5-l dib mr3 mr4-l mb2 mb0-l" href="/process/" title="Process">Process</a>
        <a class="link black hover-red f5 f5-l dib mr3 mr4-l mb2 mb0-l" href="/about/" title="About">About</a>
        <a class="link black hover-red f5 f5-l dib" href="/contact/" title="Contact">Contact</a>
      </div>
    </nav>
