.menu_toggle__bar {
  width: 20px;
  height: 2px;
  margin: 1.5px auto;
  transition: transform 0.4s ease-in-out;

  &:nth-child(1) {
    margin-top: 0;
  }
}

#toggle:checked {
  ~ .menu_toggle {
    .menu_toggle__bar{
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 4px);
      }
      &:nth-child(2) {
        transform: scale(0, 1);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -4px);
      }
    }
  }
  ~ .menu {
    left: 0;
  }
}

@media screen and (max-width: 60em) {
  .menu {
    transition: all 0.4s ease-in-out;
    top: 4rem;
    left: -100%;
  }
}
