---
layout: default
languages:
- en
subset: services
---

{% capture line %}{% t 'line' %}{% endcapture %}
{% include line.html line=line bg-color="bg-light-purple" %}

<div class="ph4 ph5-m ph6-l">
  {% capture title %}{% t 'title' %}{% endcapture %}
  {% capture subtitle %}{% t 'subtitle' %}{% endcapture %}
  {% include components/header.html
      title=title
      subtitle=subtitle
  %}
</div>

<div class="ph4 ph5-m ph6-l flex flex-column flex-row-l">
  <div class="w-100 w-50-l mr4-l pb4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'service1.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service1.description'%}</p>
  </div>

  <div class="w-100 w-50-l ml4-l pv4 pt0-l bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'service2.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service2.description'%}</p>
  </div>
</div>

<div class="ph4 ph5-m ph6-l flex flex-column flex-row-l">
  <div class="w-100 w-50-l mr4-l pv4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'service3.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service3.description'%}</p>
  </div>

  <div class="w-100 w-50-l ml4-l pv4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'service4.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service4.description'%}</p>
  </div>
</div>

<div class="ph4 ph5-m ph6-l flex flex-column flex-row-l mb4 mb5-m mb6-l">
  <div class="w-100 w-50-l mr4-l pv4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'service5.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service5.description'%}</p>
  </div>

  <div class="w-100 w-50-l ml4-l pt4">
    <h2 class="mt0">{% t 'service6.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'service6.description'%}</p>
  </div>
</div>
