---
layout: default
languages:
- en
- fr
subset: about
permalink: /:language/:t.slug/
---

{% capture line %}{% t 'line' %}{% endcapture %}
{% include line.html line=line bg-color="bg-blue" %}

<div class="ph4 ph5-m ph6-l">
  {% capture title %}{% t 'title' %}{% endcapture %}
  {% capture subtitle %}{% t 'subtitle' %}{% endcapture %}
  {% include components/header.html
      title=title
      subtitle=subtitle
  %}
</div>

<div class="ph4 ph5-m ph6-l mb4 mb5-m mb6-l">
  <section class="measure-wide">
    <h2 class="mt0">{% t 'philosophy.title' %}</h2>
    <p class="lh-copy">{% t 'philosophy.text' %}</p>
  </section>

  <section class="pt4">
    <h2 class="mt0">{% t 'team.title' %}</h2>

    <div class="flex flex-column flex-row-l center">
      <div class="w-100 mw6-m center mr3-l">
        {% capture name %}{% t 'team.julien.name' %}{% endcapture %}
        {% capture description %}{% t 'team.julien.description' %}{% endcapture %}
        {% include components/team.html
            name=name
            description=description
            img="/img/team/julien_grunhagel.jpg"
        %}
      </div>
      <div class="w-100 mw6-m center mh3-l mt3 mt0-l">
        {% capture name %}{% t 'team.maxime.name' %}{% endcapture %}
        {% capture description %}{% t 'team.maxime.description' %}{% endcapture %}
        {% include components/team.html
            name=name
            description=description
            img="/img/team/we_want_you.jpg"
        %}
      </div>
      <div class="w-100 mw6-m center mh3-l mt3 mt0-l">
        {% capture name %}{% t 'team.you.name' %}{% endcapture %}
        {% capture description %}{% t 'team.you.description' %}{% endcapture %}
        {% include components/team.html
            name=name
            description=description
            img="/img/team/we_want_you.jpg"
        %}
      </div>
    </div>
  </section>

</div>
