---
layout: default
languages:
- en
- fr
subset: process
---

{% capture line %}{% t 'line' %}{% endcapture %}
{% include line.html line=line bg-color="bg-green" %}

<div class="ph4 ph5-m ph6-l">
  {% capture title %}{% t 'title' %}{% endcapture %}
  {% capture subtitle %}{% t 'subtitle' %}{% endcapture %}
  {% include components/header.html
      title=title
      subtitle=subtitle
  %}
</div>

<div class="ph4 ph5-m ph6-l flex flex-column flex-row-l">
  <div class="w-100 w-50-l mr4-l pb4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'process1.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'process1.description' %}</p>
  </div>

  <div class="w-100 w-50-l ml4-l pv4 pt0-l bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'process2.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'process2.description' %}</p>
  </div>
</div>

<div class="ph4 ph5-m ph6-l flex flex-column flex-row-l mb4 mb5-m mb6-l">
  <div class="w-100 w-50-l mr4-l pv4 bb bn-l b--light-gray">
    <h2 class="mt0">{% t 'process3.title' %}</h2>
    <p class="mb0 lh-copy">{% t 'process3.description' %}</p>
  </div>
</div>
